services:
  frontend:
    build: ./frontend
    networks:
      - public

  postgres:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - public
    user: "1000:1000"

  log-generator:
    build: ./log-generator
    volumes:
      - ./logs:/logs

volumes:
  pg_data:

networks:
  public:
    external: true
