services:
  frontend:
    build: ./frontend
    networks:
      - private

  postgres:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - private

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - private
    user: "1000:1000"

  log-generator:
    build: ./log-generator
    volumes:
      - ./logs:/logs
    networks:
      - private

  fail2ban:
    image: linuxserver/fail2ban:1.1.0
    container_name: fail2ban
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./fail2ban-config:/config
      - ./logs:/config/logs
    restart: unless-stopped
    networks:
      - private

volumes:
  pg_data:

networks:
  public:
    external: true
  private:
    external: true
    name: infra_private
