:80 {

  @options method OPTIONS
  handle @options {
    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods GET,POST,OPTIONS
      Access-Control-Allow-Headers Content-Type
      Access-Control-Allow-Credentials true
    }
    respond 204
  }

  handle_path /api/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }
}
