services:
  frontend:
    container_name: frontend
    build: ./frontend
    networks:
      - private

  postgres:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - private

  backend:
    container_name: backend
    user: "1000:1000"
    build: ./backend
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./geoip-data:/usr/share/GeoIP:ro
      - ./shared:/shared
    networks:
      - default
      - private

  # log-generator:
  #   build: ./log-generator
  #   volumes:
  #     - ./logs:/logs
  #   networks:
  #     - private

volumes:
  pg_data:

networks:
  public:
    external: true
  private:
    external: true
    name: infra_private
